body{
    margin: 0;
    font-family: "Salsa", cursive;
}
.jhaler{
    width: 200px;
    
}
.hero-section{
    background-image: url(/img/orange-backdrop\ 1\ \(1\).png);
    background-size: cover;
    background-repeat: no-repeat;
}
.paragraph-audio {
    margin-left: 15rem;
}
.hero-section p {
   font-size: 46px;
  font-style: normal;
  max-width: 550px;
  margin-top: -180px;
  
  
}
  audio::-webkit-media-controls-panel {
    background-color: #FBD8A4 !important; /* Example dark background */
  }
.audio-container{
     background-color: #FBD8A4 ;
     max-width: 500px;
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 45px;
     padding-left: 20px;    

}
@media (max-width: 840px)
{
    .frist-deepk{
        display: block;
        margin-left: auto;
    }
    .sulfol-music,
    .group-svg,
    .second-deepk {
        display: none;
    }
    .hero-section p{
        font-size: 32px;
        margin-top: 0px;
    }
    .paragraph-audio {
    margin-left: 1rem;
}
.audio-container {
    max-width: 400px;

}
}
@media(max-width: 540px){
    .hero-section p{
        font-size: 24px;    
    }
    .frist-deepk{
        width: 100%;
    }
}
.lakshami-ganish-section {
    background-color: #F99501;
    padding-top: 1rem;
}
.line-devider{
    display: flex;
    margin-inline: auto;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 1rem;

}
.line{
    height: 4px;
    width: 400px;
    background-color: white;
    
}
.cricle{
    height: 10px;
    width: 10px;
    border-radius: 100%;
    display: flex;
    background-color: white;
    flex-shrink: 0;
}
.lakshami-ganish-section img{
    max-width:900px;
    width: 100%;
    display: block;
    align-items: center;
    margin-inline: auto;
    margin-top: 1rem;
}
.lakshami-ganish-section h2{
    font-family: "Style Script", cursive;
    font-weight: 400;
    font-size: 54px;
    font-style: 'StyleScript';
}
